{{#each records as |record|}}
  {{log record}}
  <section data-id="{{record.id}}">
    <!-- <h6>Title:</h6> -->
    <h2>
      {{limit record.title 15}}
    </h2>
    <p> Artist:
      {{#if record.artist}}
        {{record.artist}}
      {{else}}
        No artist provided.
      {{/if}}
    </p>
    <p> year:
      {{#if record.year}}
        {{record.year}}
      {{else}}
        No year provided.
      {{/if}}
    </p>
    <p> Genre:
      {{#if record.genre}}
        {{record.genre}}
      {{else}}
        No genre provided.
      {{/if}}
    </p>
    <!-- {{> partial}} -->

<!--  Update record form -->
    <form data-id="{{record.id}}" id="update-record" class="nav-buttons">
      <input type="text" name="title" placeholder="Title" value="{{record.title}}">
      <input type="text" name="artist" placeholder="Artist" value="{{record.artist}}">
      <input type="text" name="genre" placeholder="Genre" value="{{record.genre}}">
      <input type="text" name="year" placeholder="Year" value="{{record.year}}">
      <button type="submit" class="btn btn-success update">update record</button>
    </form>

    <!-- <button data-id="{{record.id}}" class="btn btn-success update">update record</button> -->
    <button data-id="{{record.id}}" class="btn btn-danger remove">Delete record</button>
  </section>

{{/each}}
